<h1>LIST ALL TASKS</h1>

<ul>
  <% @tasks.each do |task| %>
    <%= link_to task_path(task) do  %>
      <li><%= task.title %></li>
      <li><%= task.completed %></li>
    <% end %>
  <% end %>
</ul>


<%= link_to 'Create a new task', new_task_path  %>
